<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/fragments/head::head"></head>
<body>

	<th:block th:include="admin/fragments/header::header (location='pages')"></th:block>

	<div class="container">
	
		<form method="post">
						
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="well">
					
						<div class="alert alert-info" role="alert"><strong>Remember to save your changes</strong></div>
					
						<button type="submit" class="btn btn-primary">Save</button>
						<a class="btn btn-warning" th:href="@{/admin/pages}">Exit, don't save</a>
						
					</div>
				</div>
			
			</div>
		
			<div class="row">
			
				<div class="col-md-12">
				
					<div class="panel  panel-default">
						<div class="panel-body">
							<h1><span th:text="${editor.page.title}"></span> <small th:text="${editor.page.slug}"></small></h1>
						</div>					
					</div>
				
				</div>
			
			</div>
	
			<div class="row" th:each="section : ${editor.pageTemplate.contentTemplate.sections}">
			
				<div class="col-md-12">
				
				<div class="panel panel-default">
					  <div class="panel-heading">
					    <h2 class="panel-title" th:text="${section.title}"></h2>
					  </div>
					  <div class="panel-body">
					  
					  <div class="row-fluid" th:each="article : ${section.articles}">
						
							<h3><u th:text="${article.name}"></u></h3>
				
							<div class="col-md-12">
								
								<div class="row-fluid" th:each="field : ${article.fields}">
						
									<div class="col-xs-12">
									
										<div class="form-group">
											<label th:text="${field.name}" th:for="${field.fieldName}"></label>
											<!-- based on type, show diff form inputs here -->
											<th:block th:if="${field.type == T(com.robintegg.bnb.cms.FieldType).IMAGE}">
												
												<input class="form-control"  th:id="${field.fieldName} + '_value'" type="text" th:name="${field.fieldName}"  th:value="${editor.page.valueOf(field.fieldName)}"></input>										    
												<div class="media">
												  <div class="media-left">
												    <a th:id="${field.fieldName} + '_image'" href="#">
												    	<!-- do we have an image? -->
												      <img class="media-object" height="100px" width="100px" th:src="${editor.page.imageOf(field.fieldName)} ? ${editor.page.valueOf(field.fieldName)} : 'http://placehold.it/100x100'" alt="..."></img>
												    </a>
												  </div>
												  <div class="media-body">
													<p th:id="${field.fieldName} + '_description'" th:text="${editor.page.valueOf(field.fieldName)}"></p>
													<div th:id="${field.fieldName} + '_upload_form'" class="upload_form"></div>
												  </div>
												</div>
												
											</th:block>
											<th:block th:if="${field.type == T(com.robintegg.bnb.cms.FieldType).TITLE}">
												<input type="text" class="form-control" th:id="${field.fieldName}" th:name="${field.fieldName}" th:value="${editor.page.valueOf(field.fieldName)}"></input>
											</th:block>
											<th:block th:if="${field.type == T(com.robintegg.bnb.cms.FieldType).SUBTITLE}">
												<input type="text" class="form-control" th:id="${field.fieldName}" th:name="${field.fieldName}" th:value="${editor.page.valueOf(field.fieldName)}"></input>
											</th:block>
											<th:block th:if="${field.type == T(com.robintegg.bnb.cms.FieldType).TEXT}">
												<textarea rows="3" cols="80" class="form-control" th:id="${field.fieldName}" th:name="${field.fieldName}" th:text="${editor.page.valueOf(field.fieldName)}"></textarea>
											</th:block>
										
										</div>
									
									</div>
								
								</div>
							
								
							</div>
						
						</div>
					  		
					  
					  </div>
					</div>					
					
				</div>
			
			</div>
		
		</form>
	
	</div>

	<th:block th:include="admin/fragments/scripts::scripts"></th:block>
	<th:block th:include="admin/fragments/scripts::cloudinary"></th:block>
	
	<th:block th:each="section : ${editor.pageTemplate.contentTemplate.sections}">
		<th:block th:each="article : ${section.articles}">
			<th:block th:each="field : ${article.fields}" th:if="${field.type == T(com.robintegg.bnb.cms.FieldType).IMAGE}">
				<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
					$(function(){
						
						var inputTag = $.cloudinary.unsigned_upload_tag("ri7mo9sg", { cloud_name: 'dmm5h0tbd' });
						
						var formSelector = /*[['#' + ${field.fieldName} + '_upload_form']]*/ '#upload_form';
						var valueSelector = /*[['#' + ${field.fieldName} + '_value']]*/ '#myvalue';
						var imageSelector = /*[['#' + ${field.fieldName} + '_image']]*/ '#myimage';
						var descSelector = /*[['#' + ${field.fieldName} + '_description']]*/ '#mydescription';
						
						$(formSelector).append(inputTag);
						
						$(inputTag).bind('cloudinarydone', function(e, data) {
							
							var imgUrl = 'http://res.cloudinary.com/dmm5h0tbd/' + data.result.public_id;
							
							$(valueSelector).val( imgUrl );
							
							$(imageSelector).empty().append(
								$.cloudinary.image(data.result.public_id, 
								    { format: 'png', width: 50, height: 50, 
								      crop: 'thumb', effect: 'saturation:50' } )
								);
							
							$(descSelector).text( imgUrl );
							
						});			
						
					});
				/*]]>*/
				</script>
			</th:block>
		</th:block>
	</th:block>
	

</body>
</html>