<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/fragments/head::head"></head>
<body>

	<th:block th:include="admin/fragments/header::header (location='pages')"></th:block>

	<div class="container">

		<div class="row">
		
			<div class="col-md-3" th:each="page : ${pages}">
			
				<div class="thumbnail">
			      <img th:src="${page.image} ? ${urlResolver.resolve(page.image)} : 'http://placehold.it/250x150'" alt="..." width="100%" height="140px"></img>
			      <div class="caption">
			        <h3 th:text="${page.name}">Thumbnail label</h3>
			        <p th:each="locale : ${page.locales}"><a th:href="@{/admin/pages/{id}/{locale}(id=${page.id},locale=${locale.language})}" class="btn btn-primary" role="button" th:text="${'Edit ' + locale.displayLanguage + ' page'}">Edit</a></p>
			      </div>
			    </div>
			
			</div>
		
		</div>
	
	</div>

	<th:block th:include="admin/fragments/scripts::scripts"></th:block>

</body>
</html>