<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/fragments/head::head"></head>
<body>

	<th:block th:include="admin/fragments/header::header (location='pages')"></th:block>

	<div class="container">
		
		<div class="row">
		
			<div class="col-md-12">
			
				<form th:action="@{/admin/pages/{id}(id=${editor.page.id})}" method="post">
					<button type="submit" name="action" value="save" class="btn btn-primary">Save</button>
					<button type="submit" name="action" value="exit" class="btn btn-warning">Exit, don't save</button>
				</form>
			
			</div>
		
		</div>
	
		<div class="row">
		
			<div class="col-md-12">
			
				<h1 th:text="${editor.page.title.text}"></h1>
				<p th:text="${editor.page.title.slug}"></p>
			
			</div>
		
		</div>

		<div class="row" th:each="section : ${editor.pageTemplate.contentTemplate.sections}">
		
			<div class="col-md-12">
				
				<h1 th:text="${section.title}"></h1>
				
				<div class="row-fluid" th:each="article : ${section.articles}">
				
					<h2 th:text="${article.name}"></h2>
		
					<div class="col-md-12">
						
						<div class="row-fluid" th:each="field : ${article.fields}">
				
							<div class="col-xs-12">
							
								<div class="form-group">
									<label th:text="${field.name}"></label>
								<!-- based on type, show diff form inputs here -->
									<th:block th:if="${field.type == T(com.robintegg.bnb.cms.Field.Type).IMAGE}">
										<p>/moosholz/nameoftheimage</p>
										<a th:href="@{/admin/images}" class="btn btn-default" target="_blank">Open image upload tab</a>
									</th:block>
									<th:block th:if="${field.type == T(com.robintegg.bnb.cms.Field.Type).TITLE}">
										<input type="text"></input>
									</th:block>
									<th:block th:if="${field.type == T(com.robintegg.bnb.cms.Field.Type).SUBTITLE}">
										<input type="text"></input>
									</th:block>
									<th:block th:if="${field.type == T(com.robintegg.bnb.cms.Field.Type).TEXT}">
										<textarea rows="3" cols="80"></textarea>
									</th:block>
								
								</div>
							
							</div>
						
						</div>
					
						
					</div>
				
				</div>
				
			</div>
		
		</div>
	
	</div>

	<th:block th:include="admin/fragments/scripts::scripts"></th:block>

</body>
</html>