<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head (title='BNB ADMIN')"></head>
<body>

	<div th:replace="fragments/header::header (location='admin')"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>Settings</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>Website</h2>
				<a href="#" class="btn btn-primary">Update the customer website</a>
			</div>
			<div class="col-md-4">
				<h2>Inventory</h2>
				<a href="#" class="btn btn-primary">Manage your rooms</a>
			</div>
			<div class="col-md-4">
				<h2>Account</h2>
				<a th:href="@{/admin/account}" class="btn btn-primary">Update account</a>
			</div>
		</div>
	</div>

	<th:block th:include="fragments/scripts::scripts"></th:block>

</body>
</html>