<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="fragments/head::head"></head>

  <body>
  
  <div th:replace="fragments/header::header"></div>


<!-- Carousel
    ================================================== -->
    
    <div class="container">
		<div class="jumbo-header">
			<img class="jumbo-image" th:src="#{header_big_image_image}" />
		</div>
	</div>
   
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider"></hr>

      <div class="row featurette featurette-highlight">
        <div class="col-md-7">
          <h2 class="featurette-heading">Our prices. <span class="text-muted">Great value.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		<table class="table">
			<tbody>
			<tr>
			 <td>Suite (inkl. Fruehstuck, alle Getraenke, MwSt und Kurtaxen)</td>
			<td>pro Nacht</td>
			<td>£135.00</td>
			</tr>
			<tr>
			<td>Suite (inkl. Fruehstuck, Abendessen, alle Getraenke, MwSt und Kurtaxen)	</td>
			<td>pro Nacht	</td>
			<td>£165,00</td>
			</tr>
			<tr>
			<td>Abendessen</td>
			<td>pro Person</td>
			<td>£20,00</td>
			</tr>
			<tr>
			<td>Picnic Hamper</td>
			<td>pro Person</td>
			<td>£15,00</td>
			</tr>
			<tr>
			<td>Tiere (max 2)</td>
			<td>pro Nacht/Tier</td>
			<td>£7,50</td>
			</tr>
			<tr>
			<td>Endreinigung (weniger als 3 Tage)</td>
			<td>einmalig</td>
			<td>£30,00</td>
			</tr>
			</tbody>
		</table>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="http://res.cloudinary.com/dmm5h0tbd/moosholz/feature-1" alt="Generic placeholder image"></img>
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette featurette-highlight">
        <div class="col-md-7">
          <h2 class="featurette-heading">Availability &amp; Bookings.<span class="text-muted">Email us.</span></h2>
          <p class="lead">Use the email form to send us an enquiry or to make a booking.</p>
        </div>
        <div class="col-md-5">
          
			<th:block th:include="fragments/contact::form"></th:block>

        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


	<th:block th:include="fragments/footer::footer"></th:block>
	<th:block th:include="fragments/scripts::scripts"></th:block>

  </body>
</html>
