<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="fragments/head::head"></head>

  <body>
  
  <div th:replace="fragments/header::header"></div>


<!-- Carousel
    ================================================== -->
    
    <div class="container">
		<div class="jumbo-header">
			<img class="jumbo-image" th:src="#{header_big_image_image}" />
		</div>
	</div>
   
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider"></hr>

      <div class="row featurette featurette-highlight">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span th:text="#{prices_highlights_title}">Our prices.</span>  <span class="text-muted" th:text="#{prices_highlights_subtitle}">Great value.</span></h2>
          <p class="lead" th:utext="#{prices_highlights_description('markdown')}" th:remove="tag">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" th:src="#{prices_highlights_image_1}" alt="Generic placeholder image"></img>
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette featurette-highlight">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span th:text="#{contact_form_title}">Availability &amp; Bookings.</span><span class="text-muted" th:text="#{contact_form_subtitle}">Email us.</span></h2>
          <p class="lead" th:text="#{contact_form_descritpion}">Use the email form to send us an enquiry or to make a booking.</p>
        </div>
        <div class="col-md-5">
          
			<th:block th:include="fragments/contact::form"></th:block>

        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


	<th:block th:include="fragments/footer::footer"></th:block>
	<th:block th:include="fragments/scripts::scripts"></th:block>

  </body>
</html>
