<!DOCTYPE html>
<html th:lang="__${#locale}__" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head"></head>
<body>

	<div th:replace="fragments/header::header (location='home')"></div>

	<div class="container">
		<div class="jumbo-header">
			<img class="jumbo-image"
				src="http://res.cloudinary.com/dmm5h0tbd/moosholz/ailj3ytfhdctpwlhoflh" />
		</div>
	</div>

	<!-- Marketing messaging and featurettes
    ================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container marketing">

		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-sm-4">

				<h2>Luxury</h2>
				<p>Pension Moosholz offers a taste of luxury, nestled in
					Buntenbock in the Harz mountains. Our vision of this boutique guest
					house is simple, to provide guests with great service, facilities
					and surroundings. Ensuring your stay is special and filled with
					lasting memories is our priority.</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-sm-4">

				<h2>Tasteful</h2>
				<p>Surrounded by mountains, lakes and woodland the Pension
					Moosholz, dating back to the early 18th century, has been
					tastefully restored and refurbished to 21st century standards. Each
					suite has a lounge, bedroom and en-suite bathroom and is furnished
					to provide our discerning guests with many special features.</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-sm-4">

				<h2>Welcoming</h2>
				<p>You will receive a warm welcome at the Pension Moosholz
					whether you are looking for a quiet, romantic weekend retreat or a
					luxury home for a holiday to explore all that the Harz mountains
					have to offer. Our room rates include use of the Wellness area, tea
					and coffee in the room and a complementary bar in the lounge.</p>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->


		<!-- START THE FEATURETTES -->

		<hr class="featurette-divider"></hr>

		<div class="row featurette featurette-highlight">
			<div class="col-md-7">
				<h2 class="featurette-heading">
					Beautiful surroundings. <span class="text-muted">On a grand
						scale.</span>
				</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor
					fringilla. Vestibulum id ligula porta felis euismod semper.
					Praesent commodo cursus magna, vel scelerisque nisl consectetur.
					Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive center-block"
					src="http://res.cloudinary.com/dmm5h0tbd/moosholz/feature-1"
					alt="Generic placeholder image"></img>
			</div>
		</div>

		<hr class="featurette-divider"></hr>

		<div class="row featurette">
			<div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading">
					Relax. <span class="text-muted">Pamper yourself.</span>
				</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor
					fringilla. Vestibulum id ligula porta felis euismod semper.
					Praesent commodo cursus magna, vel scelerisque nisl consectetur.
					Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5 col-md-pull-7">
				<img class="featurette-image img-responsive center-block"
					src="http://res.cloudinary.com/dmm5h0tbd/moosholz/feature-2"
					alt="Generic placeholder image"></img>
			</div>
		</div>

		<hr class="featurette-divider"></hr>

		<div class="row featurette featurette-highlight">
			<div class="col-md-7">
				<h2 class="featurette-heading">
					Food is our common ground. <span class="text-muted">A
						universal experience.</span>
				</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor
					fringilla. Vestibulum id ligula porta felis euismod semper.
					Praesent commodo cursus magna, vel scelerisque nisl consectetur.
					Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive center-block"
					src="http://res.cloudinary.com/dmm5h0tbd/moosholz/feature-3"
					alt="Generic placeholder image"></img>
			</div>
		</div>

		<hr class="featurette-divider"></hr>

		<!-- /END THE FEATURETTES -->

	</div>
	<!-- /.container -->

	<th:block th:include="fragments/footer::footer"></th:block>

	<th:block th:include="fragments/scripts::scripts"></th:block>

</body>
</html>