<!DOCTYPE html>
<html th:lang="__${#locale}__" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head (title='BNB')"></head>
<body>

	<div th:replace="fragments/header::header (location='home')"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1 th:text="#{home}"></h1>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer::footer"></div>

	<th:block th:include="fragments/scripts::scripts"></th:block>

</body>
</html>