<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="fragments/head::head"></head>

  <body>
  
  <div th:replace="fragments/header::header"></div>


<!-- Carousel
    ================================================== -->

    <div class="container">
		<div class="jumbo-header">
			<img class="jumbo-image" th:src="#{header_big_image_image}" />
		</div>
	</div>
   
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container suites">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider"></hr>

      <div id="diebroken" class="row featurette featurette-highlight">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span th:text="#{description_room_title}">Die Broken.</span> <span class="text-muted" th:text="#{description_room_subtitle}">Views and vistas.</span></h2>
          <p th:utext="#{description_room_description('markdown')}" th:remove="tag">The "Die Broken" suite is the oldest...</p>
        </div>
        <div class="col-md-5">
			<div class="suite-thumbnails">
				<div class="row">
				  <div class="col-xs-4 col-sm-3 col-md-4">
				    <a href="#" class="thumbnail">
				      <img th:src="#{description_room_image_1}" alt="..."></img>
				    </a>
				  </div>
				<div class="col-xs-4 col-sm-3 col-md-4">
				    <a href="#" class="thumbnail">
				      <img th:src="#{description_room_image_2}" alt="..."></img>
				    </a>
				  </div>
				<div class="col-xs-4 col-sm-3 col-md-4">
				    <a href="#" class="thumbnail">
				      <img th:src="#{description_room_image_3}" alt="..."></img>
				    </a>
				  </div>
				</div>
				
				<div class="row">
				  <div class="col-xs-4 col-sm-3 col-md-4">
				    <a href="#" class="thumbnail">
				      <img th:src="#{description_room_image_4}" alt="..."></img>
				    </a>
				  </div>
				<div class="col-xs-4 col-sm-3 col-md-4">
				    <a href="#" class="thumbnail">
				      <img th:src="#{description_room_image_5}" alt="..."></img>
				    </a>
				  </div>
				<div class="col-xs-4 col-sm-3 col-md-4">
				    <a href="#" class="thumbnail">
				      <img th:src="#{description_room_image_6}" alt="..."></img>
				    </a>
				  </div>
				</div>
			</div>
        </div>
      </div>

      <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


	<th:block th:include="fragments/footer::footer"></th:block>
	<th:block th:include="fragments/scripts::scripts"></th:block>

  </body>
</html>
