<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head th:include="fragments/head::head"></head>

  <body>
  
  <div th:replace="fragments/header::header (location='suites')"></div>


<!-- Carousel
    ================================================== -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="img/suites.jpg" alt="First slide"></img>
          <div class="container">
            <div class="carousel-caption">
              <h1>Stay in luxury</h1>
              <p>Take a look at the available suites</p>
            </div>
          </div>
        </div>
</div>
    </div><!-- /.carousel -->

   
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container suites">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-4">
          <a href="#diebroken"><h2>Die Broken</h2></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <a href="#sonnenberg"><h2>Sonnenberg</h2></a>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4">
          <a href="#ravensberg"><h2>Ravensberg</h2></a>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider"></hr>

      <div id="diebroken" class="row featurette featurette-highlight">
        <div class="col-md-7">
          <h2 class="featurette-heading">Die Broken. <span class="text-muted">Views and vistas.</span></h2>
          <p class="lead">The "Die Broken" suite is the oldest...</p>
	<p>The suite measures about 45 square metres, comprises a lounge, bedroom and an en-suite bathroom. The suites are designed to provide the comfort and ease of living that you would expect from a top hotel and more. We pride ourselves on being better at the little things so, for example, instead of a few instant coffee sachets you have a Tassimo coffee machine to make delicious cappucino coffees.</p>
<h4>ROOM FEATURES</h4>
 	<ul>
		<li>81cm Flat screen TV</li>
		<li>DVD playerUse</li>
		<li>Free WiFi</li>
		<li>Tassimo coffee machine</li>
		<li>Hair dryer and straighteners</li>
		<li>Bath robes</li>
		<li>Use of Wellness and Sport suite</li>
		<li>Complementary use of lounge bar</li>
		<li>Breakfast</li>
	</ul>

        </div>
        <div class="col-md-5">
	<div class="suite-thumbnails">
<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-1.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-2.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-3.jpg" alt="..."></img>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-4.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-5.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-6.jpg" alt="..."></img>
    </a>
  </div>
</div>
	</div>
        </div>
      </div>

      <hr class="featurette-divider"></hr>

      <div id="sonnenberg" class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Sonnenberg. <span class="text-muted">Peace and tranquility.</span></h2>
          <p class="lead">With views over a nights sleep ...</p>
	<p>The suite measures about 45 square metres, comprises a lounge, bedroom and an en-suite bathroom. The suites are designed to provide the comfort and ease of living that you would expect from a top hotel and more. We pride ourselves on being better at the little things so, for example, instead of a few instant coffee sachets you have a Tassimo coffee machine to make delicious cappucino coffees.</p>
<h4>ROOM FEATURES</h4>
 	<ul>
		<li>81cm Flat screen TV</li>
		<li>DVD playerUse</li>
		<li>Free WiFi</li>
		<li>Tassimo coffee machine</li>
		<li>Hair dryer and straighteners</li>
		<li>Bath robes</li>
		<li>Use of Wellness and Sport suite</li>
		<li>Complementary use of lounge bar</li>
		<li>Breakfast</li>
	</ul>

        </div>
        <div class="col-md-5 col-md-pull-7">
         <div class="suite-thumbnails">
<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-1.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-2.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-3.jpg" alt="..."></img>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-4.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-5.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-6.jpg" alt="..."></img>
    </a>
  </div>
</div>
	</div>
        </div>
      </div>

      <hr class="featurette-divider"></hr>

      <div id="ravensberg" class="row featurette featurette-highlight">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ravensberg. <span class="text-muted">Steeped in history.</span></h2>
          <p class="lead">Once a historic thing, this suite.</p>
<p>The suite measures about 45 square metres, comprises a lounge, bedroom and an en-suite bathroom. The suites are designed to provide the comfort and ease of living that you would expect from a top hotel and more. We pride ourselves on being better at the little things so, for example, instead of a few instant coffee sachets you have a Tassimo coffee machine to make delicious cappucino coffees.</p>
	<h4>ROOM FEATURES</h4>
 	<ul>
		<li>81cm Flat screen TV</li>
		<li>DVD playerUse</li>
		<li>Free WiFi</li>
		<li>Tassimo coffee machine</li>
		<li>Hair dryer and straighteners</li>
		<li>Bath robes</li>
		<li>Use of Wellness and Sport suite</li>
		<li>Complementary use of lounge bar</li>
		<li>Breakfast</li>
	</ul>
        </div>
        <div class="col-md-5">
<div class="suite-thumbnails">
<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-1.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-2.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-3.jpg" alt="..."></img>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-4.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-5.jpg" alt="..."></img>
    </a>
  </div>
<div class="col-xs-4 col-sm-3 col-md-4">
    <a href="#" class="thumbnail">
      <img src="img/room-6.jpg" alt="..."></img>
    </a>
  </div>
</div>
</div>
        </div>
      </div>

      <hr class="featurette-divider"></hr>

      <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


	<th:block th:include="fragments/footer::footer"></th:block>
	<th:block th:include="fragments/scripts::scripts"></th:block>

  </body>
</html>
